# --- MATLAB ---
*.asv
# On ne liste pas .mat et .fig ici car ils sont gérés par LFS

# --- PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- AUDIO & VIDÉO ---
# On ne liste pas .wav et .mp4 ici car ils sont gérés par LFS

# --- BUREAUTIQUE ---
# On ne liste pas .docx, .pptx, .odt ici car ils sont gérés par LFS
*.tmp
*.bin
~

# --- CONFIG & NOTES ---
.obsidian/
.DS_Store

# --- LATEX ---
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
